body{
    background-color: rgb(172, 172, 255);
    font: normal 15px arial;
    text-align: center;
}
header{
   color: aliceblue;
   text-align: center;
}
section{
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    width: 400px;
    margin: auto;
    height: 350px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.721);
}
footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}
img{
    margin: 20px;
}
h1{
    text-align: center;
}
